{{!< default}}
{{#post}}
    <article class="post">
        
        <header class="post-header">
            <h1>{{title}}</h1>
            
            <!-- Post meta -->
            {{> post-meta}}
        </header>

        <div class="post-content">
            {{content}}
        </div>

    </article>

    <!-- Disqus Comments -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'jocodes';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    <!-- Google+ Comments -->
    <!--<section class="comments">
        <div id="post_{{id}}_comments"></div><script>(function () {var c = document.getElementById('post_{{id}}_comments'),w = c.offsetWidth; c.innerHTML = '<div class="g-comments" data-href="{{@blog.url}}{{url}}" data-width="' + w + '" data-first_party_property="BLOGGER" data-view_type="FILTERED_POSTMOD"></div>';})();</script>
    </section>-->
{{/post}}
<p class="text-center small"><a href="http://jocodes.com/" target="_blank">&larr; view all</a></p>

